@import "./Variables.css";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--main-color);
    background-color: var(--bg-color);
}