* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*75-100*/
    font-variation-settings: 100;
}