@import "./Variables.css";

/* Base dropzone styles */
.dropzone-block,
.dropzone-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.dropzone-block {
    max-width: 300px;
    height: 180px;
    background-color: var(--dropzone-bg-color);
    margin: 0 auto;
    padding: 15px;
}

.dropzone-wrapper {
    background-color: var(--dropzone-wrapper-color);
    border: var(--white-color) 2px dashed;
    color: var(--white-color);
    height: 100%;
    width: 100%;
}

.dropzone-wrapper:hover {
    cursor: pointer;
}

/* Focused state */
.dropzone-focused {
    border-color: var(--neutral-color);
}

/* Accept state */
.dropzone-accept {
    border-color: var(--success-color);
}

/* Reject state */
.dropzone-reject {
    border-color: var(--error-color);
}

.icon {
    font-size: 24px;
}

.dropzone-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    letter-spacing: 0.2px;
}

.dropzone-title {
    font-weight: bold;
}