@import "./Variables.css";

.dropzone-block {
    height: 130px;
}

.dropzone-desc {
    padding: 2px 20px;
    font-size: 16px;
}
.dropzone-icon {
    font-size: 28px;
    margin: 5px;
}

.dropzone-button {
    font-size: 16px;    
    padding: 7px 20px;
    border: none;
    border-radius: 5px;    
    color: var(--white-color);
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

.dropzone-button:hover {
    background-color: var(--neutral-color);
}