@import "./Variables.css";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--white-color);
    -webkit-box-shadow: 0px 0px 60px -25px rgba(47, 72, 88, 1);
    -moz-box-shadow: 0px 0px 60px -25px rgba(47, 72, 88, 1);
    box-shadow: 0px 0px 60px -25px rgba(47, 72, 88, 1);
}

.header-title {
    font-size: 28px;
    font-weight: 900;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-user,
.header-logout {
    padding: 5px 8px;    
    color: var(--white-color);
    border-radius: 10px;
}

.header-logout {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: var(--pink-color);
    color: var(--white-color);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}