.messages-block {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    right: 15px;
    top: 0;
    width: 300px;
}

.message-wrapper {
    color: #FEFEFD;
    margin: 15px 0px 0px 0px;
    overflow-wrap: break-word;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.message-content {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.message-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.message-text {
    max-width: 280px;
    font-size: 15px;
    margin-top: 5px;
}

.message-close {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    margin: 20px 20px 0px 0px;
}

.message-close:hover {
    cursor: pointer;
}

.message-close .icon {
    font-size: 16px;
    color: #FEFEFD;
}

/* types of messages */
.error {
    background-color: #D32F2F;
}

.success {
    background-color: #2E7D32;
}

.warning {
    background-color: #EF6C00;
}

.neutral {
    background-color: #0288D1;
}