@import "./Variables.css";

.messages-block {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    right: 15px;
    top: 0;
    width: 300px;
}

.message-wrapper {
    color: var(--white-color);
    margin: 15px 0px 0px 0px;
    overflow-wrap: break-word;
    display: flex;
    align-items: flex-start;
    width: 100%;
    animation: fade 5s infinite ease;
    -webkit-animation: fade 5s infinite ease;
}

.message-content {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.message-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.message-text {
    max-width: 280px;
    font-size: 15px;
    margin-top: 5px;
}

.message-close {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    margin: 20px 20px 0px 0px;
}

.message-close:hover {
    cursor: pointer;
}

.message-close .icon {
    font-size: 16px;
    color: var(--white-color);
}

/* types of messages */
.error {
    background-color: var(--error-color);
}

.success {
    background-color: var(--success-color);
}

.warning {
    background-color: var(--warning-color);
}

.neutral {
    background-color: var(--neutral-color);
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
