@import "../styles/Variables.css";

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.pagination-cell {
    padding: 5px 10px;
}