@import "./Variables.css";

.payment-table-block {
    width: 90%;
    margin: 50px auto;
}

.table-header-cell {
    padding: 20px;
}

.table-cell {
    padding: 10px;
}

.status-process,
.status-deleted,
.status-success {
    padding: 7px 10px;
    border-radius: 20px;
    text-align: center;
    color: var(--white-color);
}

.status-process {
    background-color: var(--warning-color);
}

.status-deleted {
    background-color: var(--error-color);
}

.status-success {
    background-color: var(--success-color);
}

.table-loading {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: 0 auto;    
    position: fixed;    
    margin-top: 40px;    
    overflow-y: hidden;
}

.table-header-cell-sort {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.table-row-payment {
    cursor: pointer;
}

.table-row-payment:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}