@import "./Variables.css";

.payment-table-block {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.table-header-cell {
    padding: 20px;
}

.table-cell {
    padding: 10px;
}

.status-process,
.status-deleted,
.status-success {
    padding: 7px 10px;
    border-radius: 20px;
    text-align: center;
    color: var(--white-color);
}

.status-process {
    background-color: var(--warning-color);
}

.status-deleted {
    background-color: var(--error-color);
}

.status-success {
    background-color: var(--success-color);
}